@model IEnumerable<ApartmentManagement.Domain.Entities.Block>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bloklar</h1>

<p>
    <a asp-action="AddBlock">Blok Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Blok İsmi
            </th>
            <th>
               Kat Sayısı
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxFlat)
            </td>
       
            <td>
                <a asp-action="UpdateBlock" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="DeleteBlock" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
