@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Buraya Girmeye Yetkiniz yok";
}

<header>
    <center>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Yetkisiz Giriş</p>
    </center>
</header>
