@model IEnumerable<ApartmentManagement.Domain.Entities.BillType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fatura Türleri</h1>

<p>
    <a asp-action="AddBillType">Fatura Türü Ekle</a>
</p>
    @if(@TempData["Alert"]!=null)
    {
         <div class="alert alert-success">
      <strong> @TempData["Alert"]</strong> 
      </div>
    }
<table class="table">
    <thead>
        <tr>
            <th>
               Fatura Türü
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BillTypeName)
            </td>
           
            <td>
                <a asp-action="UpdateBillType" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="DeleteBillType" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
