@model ApartmentManagement.Domain.Entities.BillType

@{
    ViewData["Title"] = "UpdateBillType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fatura Türü Güncelle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateBillType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Fatura Türü İsmi</label>
                <input asp-for="BillTypeName" class="form-control" />
                <span asp-validation-for="BillTypeName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
    
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
